
    <div class="container text-start">
        <div class="row">
          <div class="col-3">
            <div class="d-flex justify-content-start align-items-start">
                <div class="rounded-circle overflow-hidden" style="width: 250px; height: 250px;">
                    <img src="https://images.pexels.com/photos/3944384/pexels-photo-3944384.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Teclado" class="w-100 h-auto">
                </div>
            </div>
          </div>
          <div class="col-9">
            <h2><strong>The second heading</strong> Is pretty cool too.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, sequi exercitationem. Vitae voluptatum alias voluptatem cupiditate provident repudiandae dignissimos consequatur eos sint doloribus aspernatur tempora molestiae, ea cum illo numquam.</p>
          </div>
        </div>
      </div>